body {
  margin: 0;
}

.galleryFrame {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 5%;
  border: 1px;
  padding: 20px;
  border-style: solid;
  border-color: #B6B6B6;
}

.galleryImage img{
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width:640px) {
  .galleryFrame {
    display: block;
  }
  .galleryColumn {
    width: 96%;
  }
  .galleryImage {
    height: 60vw;
  }
}
