.navbar {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  height: 40px;
  padding: 10px 10px 15px 10px;
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* Header name */
.navbar h2 {
  margin: 0;
  font-size: 40px;
}

/* Instagram image */
.instagram_image img{
  margin: 3px 0 0 15px;
  height: 40px;
  text-decoration: none;
}

/* sidebar button container */
.navbar_reveal{
  margin-right: 20px;
  display: none;
  position: absolute;
  right: 0px;
}

/* Sidebar button */
.navbar_reveal img{
  margin: 3px 0 0 15px;
  height: 40px;
}

/* List container */
.navbar ul {
  position: absolute;
  right: 0px;
  margin: 0;
  float: right;
}

/* List elements */
.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  vertical-align: middle;
}

/* List element link */
.navbar ul li a {
  font-size: 40px;
  text-decoration: none;
  color: #333;
}

@media only screen and (max-width: 800px){
  .navbar_reveal {
    display: inline-block;
  }

  .instagram_image {
    display: none;
  }

  .navbar ul {
    display: none;
  }
}
